<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dexdrip.stephenblack.nightwatch" >

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- To receive data from xdrip. -->
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat">


        <meta-data android:name="AA_DB_NAME" android:value="NightWatch.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="6" />
        <meta-data android:name="AA_MODELS"
            android:value="
            com.dexcom.stephenblack.nightwatch.model.ActiveBgAlert,
            com.dexcom.stephenblack.nightwatch.model.AlertType,
            com.dexcom.stephenblack.nightwatch.model.Bg,
            com.dexcom.stephenblack.nightwatch.model.ShareGlucose,
            com.dexcom.stephenblack.nightwatch.model.UserError,
            com.dexcom.stephenblack.nightwatch.model.UserNotificationV2" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.dexdrip.stephenblack.nightwatch"
            android:exported="false" />

        <activity android:name=".activities.Home" android:label="@string/app_name" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stats.StatsActivity"
            android:label="Statistics" >
        </activity>
        <activity android:name=".activities.SettingsActivity" android:label="Settings" />
        <activity android:name=".LicenseAgreementActivity" android:label="End User License Agreement" />
        <activity android:name=".alerts.EditAlertActivity" android:label="Edit Alert" />
        <activity android:name=".alerts.AlertList" android:label="Alert List" />
        <activity android:name=".alerts.SnoozeActivity" android:label="Snooze" />
        <activity android:name=".alerts.ErrorsActivity" android:label="Errors" />


        <service android:name=".DataCollectionService" android:exported="true" />
        <service android:name=".alerts.Notifications" android:exported="true" />
        <service android:name=".alerts.SnoozeOnNotificationDismissService" android:exported="true" />
        <service android:name=".alerts.MissedReadingService" android:exported="true" />
        <service android:name=".PebbleSync" android:exported="true" />
        <service android:name=".integration.dexdrip.IntentService" android:exported="false" />
        <service android:name=".WidgetUpdateService" android:exported="true" />

        <service
            android:name=".WatchUpdaterService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/request-network" />
            </intent-filter>
        </service>

        <receiver android:name=".AutoStart" >
            <intent-filter> <action android:name="android.intent.action.BOOT_COMPLETED" /> </intent-filter>
        </receiver>

        <receiver android:name=".integration.dexdrip.DataReceiver" android:exported="true" >
            <intent-filter> <action android:name="com.eveningoutpost.dexdrip.BgEstimate" /> </intent-filter>
        </receiver>

        <receiver android:name=".NightWatchWidget" >
            <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/night_watch_widget_small_info" />
        </receiver>

        <receiver android:name=".NightWatchWidgetWide" >
            <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/night_watch_widget_wide_info"/>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a2fa9c3c2588147358920450ad4ddfa18d187884"
            />
    </application>
</manifest>
